/*General 👇*/
html {
  --primaryColor: #15a5e3;
  --secondaryColor: #ffffff;
  --hoverColor: #0990ca;
}
body {
  overflow-x: hidden;
}
li a {
  text-decoration: none !important;
}

/*marquee 👇 */
marquee {
  background-color: var(--primaryColor);
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.8);
  height: 40px;
  z-index: 100;
}

.marquee {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-size: 20px;
}

/*Top links and contacts 👇 */
.contacts {
  margin-top: 30px;
  font-weight: 600;
  float: right;
  margin-right: 75px;
}
.toplinks {
  font-weight: 600;
  font-size: small;
}
/*contact form */
/*Main navbar (Desktop Navigation 👇 */
.navigation {
  height: 70px;
  background: var(--primaryColor);
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
}
@media (max-width: 576px) {
  .navigation {
    height: auto;
    overflow: hidden;
  }
}
.nav-container {
  max-width: 1250px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  font-size: large;
  display: block;
  padding: 0 4px;
  line-height: 70px;
  background: var(--primaryColor);
  color: var(--secondaryColor);
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: var(--hoverColor);
  color: var(--secondaryColor);
  text-decoration: none;
  transition: all 300ms;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
  text-decoration: none;
}
nav ul li ul li a {
  padding: 7.5px;
  line-height: 20px;
  text-decoration: none;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/*  Main Nav (Mobile Navigation) 👇 */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primaryColor);
  height: 70px;
  width: 70px;
  z-index: 101;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
  .contacts {
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--secondaryColor);
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
/*# sourceMappingURL=nav1.css.map */

/* ❌ THE END ❌ */
