/*ALL*/
html {
  scroll-behavior: smooth;
  --primaryColor: #15a5e3;
  --secondaryColor: #ffffff;
  --hoverColor: #414141;
}
/*Main Carousel section 👇 */
.full-screen {
  background-size: cover;
  max-height: 440px;
  background-position: center;
  background-repeat: no-repeat;
}
/*news & updates section 👇 */
.containerNews {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
}
.newsul {
  list-style: "📰  ";
  position: relative;
  padding-top: 20px;
}
.newsli {
  height: 100px;
  text-align: left;
}
.news {
  font-size: large;
  text-align: left;
  color: var(--primaryColor);
}
/*upcoming events section 👇 */
.event-container h3.year {
  font-size: large;
  text-align: center;
  border-bottom: 1px solid var(--hoverColor);
}
.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 12px 0;
}
.event .event-left {
  background: var(--primaryColor);
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryColor);
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}
.event-left .date {
  font-size: 3em;
}
.event .event-left .month {
  font-size: 2em;
  font-weight: normal;
}
.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}
.event .event-right h3.event-title {
  font-size: 1em;
  font-weight: 300px;
  margin: 24px 0 10px 0;
  color: var(--primaryColor);
  text-transform: uppercase;
}
.event .event-right .event-timing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 8px;
  border-radius: 16px;
  margin: 10px 0;
  font-size: 0.75;
}
@media (max-width: 950px) {
  .event {
    flex-direction: column;
  }
  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 1.5em;
  }
}
/*achivements section 👇 */
.containerAchive {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
}
.achiveli {
  height: 100px;
  text-align: left;
}
.achivements {
  font-size: large;
  text-align: left;
  color: var(--primaryColor);
}
.newul {
  list-style: "🏆  ";
  position: relative;
  padding-top: 20px;
}
/*popular events section 👇 */
.post-slide {
  background: var(--secondaryColor);
  border-bottom: 1px solid #dedde1;
}

.heading-title {
  margin-bottom: 10px;
}
.post-slide .post-header {
  padding: 15px 20px;
}

.post-slide .title {
  margin-bottom: 5px;
}

.post-slide .title a {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.post-slide .post-bar {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}

.post-slide .post-bar li {
  display: inline-block;
  margin-right: 20px;
  color: #808080;
}

.post-slide .post-bar li a {
  font-size: 15px;
  color: #808080;
  text-transform: capitalize;
}

.post-slide .pict img {
  width: 100%;
  height: auto;
}
/*Description section *ABOUT DMCE & PRINCIPAL'S DESK 👇 */
.descImg {
  height: 250px;
  background-position: center;
  overflow: hidden;
}
.desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}
.descButton {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border: none;
}

button:hover {
  color: var(--primaryColor);
  border: var(--primaryColor) solid 2px;
  background: var(--secondaryColor);
  font-weight: 500;
}
/*testimonials section 👇 */
.containImage {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/5.1.png);
  background-size: cover;
}
.testimonial {
  margin: 0 50px;
  padding: none;
}
.pic {
  width: 100px;
  height: 100px;
  margin: 0 auto -50px;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonial-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #111;
  text-transform: capitalize;
}
.testimonial-review {
  margin-top: 20px;
  background: var(--secondaryColor);
  border-radius: 10px;
  padding: 50px;
  position: relative;
  z-index: -3;
}
.testimonial-review .description {
  color: #111;
  margin: 0;
  font-size: 16px;
  line-height: 25px;
}
/*Recruitors section 👇 */
.slider {
  background-color: var(--secondaryColor);
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}
.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background: liner-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.slider::before {
  top: 0;
  left: 0;
}
.slider::after {
  top: 0;
  right: 0;
  transform: rotateX(360deg);
}
.slider .slider-track {
  display: flex;
  animation: scroll 60s linear infinite;
}
.slider .slide img {
  margin: 0 50px 0 0;
  padding-top: 50px;
  width: 200px;
  height: 150px;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-350px * 10));
  }
}
/*Sections Header 👇 */
.section-header h3 {
  padding: 30px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primaryColor);
  bottom: 0;
  left: calc(50% - 20px);
}

/*Back to Top Button 👇 */
#button {
  display: inline-block;
  background-color: var(--primaryColor);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: " ▲ ";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--secondaryColor);
}
#button:hover {
  cursor: pointer;
  background-color: var(--hoverColor);
}
#button:active {
  background-color: var(--hoverColor);
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* ❌ THE END ❌ */
